[submodule "cookbooks/maintenance"]
	path = cookbooks/maintenance
	url = https://github.com/myplanetdigital/chef-maintenance.git
[submodule "cookbooks/hamachi"]
	path = cookbooks/hamachi
	url = https://github.com/myplanetdigital/chef-hamachi.git
